<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biodata~~</title>
</head>

	<marquee><p><h2><i>Annyeonghaseyo yeorobun o(^~^o)</i></h2></p></marquee>
    <h1>Terima kasih sudah mengunjungi <i>website</i> ini!</h1>
	<p><b>Yuk! Kenalan dengan kami!^^</b></p>

	<body>
	<img style = "float:left;" src="https://bem.cs.ui.ac.id/staf/assets/2018/img/photo/1706984493.jpg" alt = "ME"width = "150px" height = "150px">
	<article>Nama : {{ name }}</article>
    <article>NPM : {{ npm }}</article>
    <article>Umur : {{ age }}</article>
	<article>Institusi : {{ institution }}</article>
	<article>Jurusan : {{ major }}</article>
	<article>Hobi : {{ hobby }}</article>
	<article>Desc : {{ desc }}</article><p></p>
	
	<img style = "float:left;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUHcXBuqtxZTjvdOV0b-V8hNnfFS0iqmflM5r2MaL6n2Kz1Fix" alt = "ME"width = "150px" height = "150px">
	<article>Nama : {{ fname }}</article>
    <article>NPM : {{ fnpm }}</article>
    <article>Umur : {{ fage }}</article>
	<article>Institusi : {{ institution }}</article>
	<article>Jurusan : {{ major }}</article>
	<article>Hobi : {{ fhobby }}</article>
	<article>Desc : {{ fdesc }}</article>
</body>
</html>
